@font-face{
   font-family:'kil' ;
   src:url("PlayfairDisplay-Bold.ttf") ;
}
@font-face{
   font-family:'kill' ;
src:url("Montserrat-Regular.ttf");
}
body {
	width:1920px ;
	margin:0px;
	padding:0px ;
}
.header{
	width:100% ;
	height:970px ;
	background:red ;
	margin:0 ;
	padding:0 ;
	background:url("Img.png") no-repeat center;
	background-size:cover ;
}

.middle{
	width:100% ;
	
}

.footer{
	width:100% ;
	height:202px ;
	border:2px solid red ;
}

.screen-two{
	width:1355px ;
	height:470px ;
	border:2px solid yellowgreen ;
}

.screen-one{
	width:1355px ;
	height:470x ;
	border:2px solid orange ;
}

.header-list{
	display:inline-block ;
	
	list-style:none ;

}
.header-list ul{
	 display: flex;
  align-items: center;
  justify-content: center;
	margin:0 ;
	padding:0 ;
	width:100%;
	margin-left:380px ;
	margin-top:40px ;
	text-align: center;

}
.li{
	
	padding:0 ;
	text-align:center ;
	
	display:inline-block ;
	

}
.li a{
	padding: 0px 20px ;
	padding-bottom:40px ;
	color:white ;
	opacity: 0.5;
	text-decoration:none ;
	font-size:19px ;
}
.li a:hover{
	color:white ;
	opacity:0.8 ;
}
.header-top{
	display:block ;
}
.img1 , .img2 {
	display:inline-block ;
}
.img1{
	margin-top:40px ;
	margin-left: 120px;
}
.img2{
	float:right ;
	margin-top:45px ;
	margin-right: 120px;
	
}
.golova{
	width:700px ;
	height:260px ;
	margin-left:120px ;
	margin-top:140px ;
}
.golova h1{
	font-size:70px ;
	color:white ;
	font-weight:700 ;
	font-family:'kil', sans-serif;
   line-height: 91px;
}
.golova p{
	font-size:25px ;
	color:white ;
	width:600px ;
	margin-top:-15px ;
	font-family:'kill' ;
	line-height:36px ;
}
.btn{
	margin-top:90px ;
	margin-left:120px ;
	width:700px ;
	height:100px ;
}
.btn-item{
	
	width:290px ;
	height:70px ;
	border-radius:50px ;
	background:#ffa200 ;
	border:1px solid #ffa200;
	font-size:20px ;
	font-weight:bold ;
	transition-duration: 0.3s;
}
.btn-item:hover{
	transform:scale(1.2) ;
}
.btn-video button{
	
	
	
	width:70px ;
	height:70px ;
	border:2px solid rgb(255,255,255,0.8) ;
    background:transparent url("play.png") no-repeat 60% 50% ;

    border-radius:50% ;
}
.btn-video{
	margin-left:350px ;
	margin-top:-70px ;
	opacity:0.7 ;
	color:white ;
	height:50px ;
	transition-duration:0.3s ;
}
.btn-video p{
	font-size:22px ;
	width: 150px ;
	margin-top:-65px ;
	margin-left:90px ;
	line-height:25px ;
	font-family:sans-serif ;
}
.btn-video:hover{
	transform:scale(1.2) ;
}
.soc{

	color:rgb(255,255,255,0.7) ;
	margin-top:-80px ;
	margin-left:110px ;
	float:bottom ;
}
.soc a{
	justify-self: center;
	padding:15px ;
}
.soc p{
	padding-left:15px ;
}
.cards {
	width:1000px ;
	margin-left:835px ;
	margin-top:25px ;
}
.card{
	width: 285px;
   height: 200px;
	position:relative ;
	display:inline-block ;
	
	margin:12px ;

	transition-duration: 0.3s;
}
.card:hover{
	transform:scale(1.2) ;
}
.card1{
	position:relative ;
	display:inline-block ;
	width: 285px;
   height: 200px;
   margin:12px ;
	transition-duration: 0.3s;
}
.card1:hover{
	transform:scale(1.2) ;
}
.card2{
	position:relative ;
	display:inline-block ;
	width: 285px;
   height: 200px;
    margin:12px ;
	transition-duration: 0.3s;
}
.card2:hover{
	transform:scale(1.2) ;
}
.opis{
	color:white ;
	margin-top:120px ;
	margin-left:40px ;
	width:100px ;
	font-size:25px ;
	
}
.opis1{
   color:white ;
	margin-top:120px ;
	margin-left:40px ;
	width:100px ;
	font-size:25px ;
	
}
.opis2{
     color:white ;
	margin-top:120px ;
	margin-left:40px ;
	width:100px ;
	font-size:25px ;
}
.card2{
	border-radius:20px ;
	
	background:url("gorod.png") no-repeat center ;
}
.card1{
	border-radius:20px ;
	
	background:url("imgIsland 1.png") no-repeat center ;
}
.card{
	border-radius:20px ;
	
	background:url("img1.png") no-repeat center ;
}
.number{
	position:absolute ;
	color:white ;
	top:10px ;
	margin-left:40px ;
	margin-top:20px ;
	width:100px ;
	font-size:30px ;
}
.cards img{
	position:absolute ;
	top:140px ;
	left:230px ;
}
.screen-one{
	margin-top:200px ;
	margin-left:auto ;
	margin-right:auto ;
   border:none ;
	height:470px ;
	display:flex ;
	width:1355px ;
   background:url("img2.png") no-repeat left ;
}
.screen-one button{
	
	border:3px solid yellow ;
	background: transparent;
	color:yellow ;
  position: absolute;
  margin-top:370px ;
  margin-left: 900px;
  height:70px ;
  width:300px ;
  font-size:25px ;
  border-radius:50px ;
}
.screen-one button:hover{
	animation:ger 1s infinite ;
}
@keyframes ger {
  from {
  	
  	color:yellow ;
    opacity: 0.5;
  }

  to {
  	color: #BF7130	;
  	border-color:#BF7130	 ;
    opacity: 1;  }
}
.screen-one p{
   display:block ;
   font-size:20px ;
   line-height:25px ;
   margin-left:900px ;
   margin-top:100px ;
   heigth:200px ;
   align-self: center;

}
.screen-one img{
	position: absolute;
	height: 60px;
	width: 50px;
	margin-left:700px ;
	margin-top:370px ;
	transition-duration:0.5s ;
   
}
.screen-one img:hover{
	transform:scale(1.1) ;
}


div.screen-one h2.reg{
	font-size:45px ;
	position:absolute ;
	height:200px ;
   left: 1180px;
	width:500px ;

}
.screen-one .opis{
	position:absolute ;
	margin-top:-300px ;
	margin-left:40px ;
}
.screen-one .opis1{
	position:absolute ;
	width:500px ;
	margin-top:400px ;
	margin-left:40px ;
}


.screen-two{
	margin-top:100px ;
	margin-left:auto ;
	margin-right:auto ;
   border:none ;
	height:470px ;
	display:flex ;
	width:1355px ;
   background:url("img2.png") no-repeat right ;
}
.screen-two button{
	
	border:3px solid yellow ;
	background: transparent;
	color:yellow ;
  position: absolute;
  margin-top:370px ;
  margin-left: 200px;
  height:70px ;
  width:300px ;
  font-size:25px ;
  border-radius:50px ;
}
.screen-two button:hover{
	animation:ger 1s infinite ;
}

.screen-two p{
   display:block ;
   font-size:20px ;
   line-height:25px ;
   margin-left:-900px ;
   margin-top:100px ;
   heigth:100px ;
   width:400px ;
   align-self: center;

}
.screen-two img{
	position: absolute;
	height: 40px;
	width: 50px;
	margin-left:1250px ;
	margin-top:370px ;
	
   
}
.screen-two img:hover{
	animation-name: slid;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
}

.screen-two h2{
	font-size:45px ;
	display:block ;
	height:150px ;
	width:900px ;
   margin-left:50px ;
   align-self: flex-start;

}
.screen-two .opis{
	position:absolute ;
	margin-top:-300px ;
	margin-left:560px ;
	width:300px ;
}
.screen-two .opis1{
	position:absolute ;
	width:500px ;
	margin-top:400px ;
	margin-left:560px ;
}
.footer ul{
	list-style:none ;
	margin-left:420px ;
	margin-top: -80px;
}
.footer ul li{
	display: inline-block;
	padding:40px ;
	width:200px ;
	font-size:17px ;
	opacity:0.5 ;
}
.footer-soc{
	margin-top:-180px ;
	margin-left: 1500px;
}
.footer-soc a{
	 margin:10px ;
     display:inline-block ;
}
.footer img{
   margin-left:0px ;
	margin-top:80px ;
}
.footer{
	margin-top:200px ;
	margin-left:50px ;
	border:none ;
}